{{ ansible_managed | comment }}
# .bash_profile

# Get the aliases and functions
if [ -f ~/.bashrc ]; then
        . ~/.bashrc
fi

export PATHBIN={{ postgresql_path_bin }}
PATH=$PATHBIN:$PATH
export PATH

export PGLIB={{ postgresql_path_lib }}

export PGDATA={{ postgresql_pgdata_main_directory }}

cd $PGDATA

{% for env_var in postgresql_env_vars %}
export {{ env_var }}
{% endfor %}

export LANG={{ postgresql_locale }}
